.titolo{
  font-size: 13px;
}

.logo{
  display: inline-block;
  width: 170px;
}

.logo img{
  width: 100%;
  height: auto;
}

.blue li a{
  color: #031b4e !important;
}

.navbar{
  margin-bottom: 0;
}

.button-signin li a{
  display: inline-block;
  border: 1px solid #031b4e;
  border-radius: 3px;
}
