header{
  margin-top: 100px;
}

.titolo{
  font-size: 13px;
}

.logo{
  display: inline-block;
  width: 180px;
}

.dim-img{
  width: 100%;
  height: auto;
}

.navbar{
  margin-bottom: 0;
}

.button-signin li a{
  display: inline-block;
  border: 2px solid #031b4e;
  border-radius: 3px;
}

.bg-blue{
  background-color:#0069ff;
}

.pad-30{
  padding: 30px;
}

.mtb-100{
  margin: 100px 0;
}

.mt-100{
  margin-top: 100px;
}

.mb-100{
  margin-bottom: 100px;
}

.mt-50{
  margin-top: 50px;
}

.mb-50{
  margin-bottom: 50px;
}

.mt-30{
  margin-top: 30px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.bg-white{
  background-color: white;
  border-radius: 3px;
}

.dark-blue{
  color: #031b4e;
}

.bold{
  font-weight: bold;
}

.white{
  color: white;
}

.font-20{
  font-size: 20px;
}

.font-30{
  font-size: 30px;
}

.font-40{
  font-size: 40px;
}

.font-60{
  font-size: 60px;
}

.bg-light-blue{
  background-color: #cce5ff;
}

.customer{
  margin: auto;
}

.gray{
  color: #999999;
}

.borderleft{
  border-left: 2px solid #999999;
  padding-left: 0;
}

.borderleft ul li{
  list-style: none;
}

.borderleft ul li a{
  text-decoration: none;
}

.borderleft ul{
  padding-inline-start: 15px;
}

.goccia{
  width: 30px;
}

.font-17{
  font-size: 17px;
}
